{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10",
          "browsers": [
            "> 3%"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 2,
        "esmodules": false
      }
    ]
  ]
}